<div class="bg-[#a33b1a] py-12 px-4 lg:px-12">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div
      *ngFor="let card of categoryCards"
      class="bg-white shadow-md flex flex-col overflow-hidden group"
    >
      <img
        class="w-full object-cover"
        [src]="card.fields.image.value.src"
        [alt]="card.fields.image.value.alt"
      />
      <div class="flex items-center justify-between px-4 py-5">
        <div>
          <h3 class="font-bold text-lg text-black">
            {{ card.fields.title.value }}
          </h3>
          <p class="text-sm text-black">
            {{ card.fields.description.value }}
          </p>
        </div>
        <a
          [href]="card.url || '#'"
          class="bg-black text-white w-10 h-10 flex items-center justify-center transition hover:bg-gray-800"
        >
          →
        </a>
      </div>
    </div>
  </div>
</div>
